* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Yoon Gothic 750', 'Yoon Gothic 770';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
