@charset "utf-8";

@font-face {
    font-family: 'Yoon Gothic 750';
    src: url('../font/OTE_YOONGOTHICPRO750.OTF');
}

@font-face {
    font-family: 'Yoon Gothic 770';
    src: url('../font/OTE_YOONGOTHICPRO770.OTF');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../font/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../font/Roboto-Bold.ttf');
}